<p-panel styleClass="dark-panel" header="Remove users :">
  <p-table [value]="users" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
        <tr>
            <th>Mail</th>
            <th>Name</th>
            <th>Equipe</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{user.mail}}</td>
            <td>{{user.nom}}</td>
            <td>{{user.equipe}}</td>
            <td><p-button label="Remove" (onClick)="removeUser(user.mail)"></p-button></td>
        </tr>
    </ng-template>
</p-table>
</p-panel>
